## Задание 1

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе, при помощи использования kwargs

In [13]:
def inventory(**counting):
    sum = 0
    for fruits,number in counting.items():
        print(f"{fruits}: {number}")
        sum = number+sum
    return sum
        
          
print(f'Общая сумма фруктов = {inventory(apple=10, mellon=1,pear=3)}')

apple: 10
mellon: 1
pear: 3
Общая сумма фруктов = 14

## Задание 2

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты  
[100, 125, -90, 345, 655, -1, 0, 200]  
*Используйте list comprehensions*

In [18]:
adv_cost=[100, 125, -90, 345, 655, -1, 0, 200]
correct_data=[i for i in adv_cost if i>=0]
print(correct_data)
sum(correct_data)

[100, 125, 345, 655, 0, 200]

1425

## Задание 3

Дата покупки:

In [4]:
date_ls = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
        '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
        '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
        '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам:

In [10]:
sum_ls = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592,
         2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Условие 1

Найдите, какая выручка у компании в ноябре

In [16]:
number_of_month = 11
monthly_sum = sum([i for j, i in zip(date_ls, sum_ls) if j[5:7] == f"{number_of_month}"])

In [17]:
print(f"Выручка компании в {number_of_month} месяце = {monthly_sum}")

Выручка компании в 11 месяце = 25098

### Условие 2

 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [19]:
def monthly (date_ls: list, sum_ls: list) -> dict:
    res = {}
    for j, i in zip(date_list, sum_list):
        if j[5:7] in res.keys():
            res[j[5:7]] = res[j[5:7]] + i
        else:
            res[j[5:7]] = i
    return res
 
print(monthly(date_ls, sum_ls))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}